<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DMM Report Generator</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/reports/">Reports</a>
                    </li>
                    <li role="presentation"><a href="/charts/">Charts</a>
                    </li>
                    <li role="presentation"><a href="/forms/">Forms</a>
                    </li>
                    <li role="presentation"><a href="/about">About</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">DMM Report Generator</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Sheet Utilization</h1>
            <p class="lead">Sheet Utilization By Date Range</p>
            <div class="form-group">
            <label>Select Machines</label>
            <br />
            <label class="checkbox-inline">
                <input id="v1" type="checkbox" value="v1" checked>Vipros 1</label>
            <label class="checkbox-inline">
                <input id="v2" type="checkbox" value="v2" checked>Vipros 2</label>
            <label class="checkbox-inline">
                <input id="v3" type="checkbox" value="v3" checked>Vipros 3</label>
            <label class="checkbox-inline">
                <input id="v5" type="checkbox" value="v5" checked>Vipros 5</label>
            <label class="checkbox-inline">
                <input id="l1" type="checkbox" value="l1" checked>Salvagnini Laser</label>
            <label class="checkbox-inline">
                <input id="p1" type="checkbox" value="p1" checked>Pulsar Laser</label>
            <br />
            <br />
            <label for="select_type">Chart Type:</label>
            <select class="form-control" id="select_chart_type">
                <option value="none">-----</option>
                <option value="Bar">Bar</option>
                <option value="Line">Line</option>
                <option value="Stacked">Stacked Line</option>
            </select>
            </div>
 			<form>
                <label for="begRange">Starting Date:</label>
				<input type="date" class="form-control" id="begRange">
				<label for="endRange">Ending Date:</label>
                <input type="date" class="form-control" id="endRange">
				<br />
				<a class="btn btn-lg btn-success" href="javascript:void()" id="genButton" role="button">Generate</a>
			</form>
        <div id="#chart">
            <figure id="chart">
        
            </figure>
        </div>
        </div>
        </div>
        <footer class="footer">
            <p>&copy; Hill Phoenix 2015</p>
        </footer>
    </div>
</body>
</html>