<!DOCTYPE html>
<html lang="en">
 
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>DMM Report Generator</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script language="javascript" type="text/javascript">
        $(function() {
            genButton = $('#genButton')

            genButton.click(function() {
                var begin     = $('#begRange').val();
                var end       = $('#endRange').val();
                var freq      = $('#select_chart_type').val();
                var begMonth  = $('#select_beg_month').val();
                var endMonth  = $('#select_end_month').val();
                var v1Checked = $('#v1').prop('checked');
                var v2Checked = $('#v2').prop('checked');
                var v3Checked = $('#v3').prop('checked');
                var v5Checked = $('#v5').prop('checked');
                var l1Checked = $('#l1').prop('checked');
                var p1Checked = $('#p1').prop('checked');
                var mach      = [];

                genButton.attr('disabled', 'disabled');

                if (v1Checked) {
                    mach.push('v1')
                } 
                if (v2Checked) {
                    mach.push('v2')
                }
                if (v3Checked) {
                    mach.push('v3')
                }
                if (v5Checked) {
                    mach.push('v5')
                } 
                if (l1Checked) {
                    mach.push('l1')
                }
                if (p1Checked) {
                    mach.push('p1')
                }

                mach = JSON.stringify(mach);

                if (freq == 'none'){
                    $('#chart').html('<p>Select Chart Type</p>')
                    genButton.removeAttr('disabled')
                } else if (new Date(end) < new Date(begin)) {
                    $('#chart').html('<p>End Date must be after Start Date</p>')
                    genButton.removeAttr('disabled')
                } else if (begin == '' || end == '') {
                    $('#chart').html('<p>You must select a valid date</p>')
                    genButton.removeAttr('disabled')
                } else {
                    $('#chart').html('<p>Generating Chart....</p>')
                        $.ajax({
                        url: '/build/',
                        data: {begin,end,freq,mach},
                        type: 'POST',
                        success: function(response) {
                            $('#chart').html(response)
                            console.log('Response is : ' + response)
                            genButton.removeAttr('disabled')
                        },
                        error: function(error) {
                            $('#chart').html('<p>Unable to generate chart</p>')
                            console.log(error)
                            genButton.removeAttr('disabled')
                        }
                    });
                }
            });
        });
	</script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a>
                    </li>
                    <li role="presentation"><a href="/reports/">Reports</a>
                    </li>
                    <li role="presentation"><a href="/charts/">Charts</a>
                    </li>
                    <li role="presentation"><a href="/forms/">Forms</a>
                    </li>
                    <li role="presentation"><a href="/about">About</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">DMM Report Generator</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Sheet Utilization</h1>
            <p class="lead">Sheet Utilization By Date Range</p>
            <div class="form-group">
            <label>Select Machines</label>
            <br />
            <label class="checkbox-inline">
                <input id="v1" type="checkbox" value="v1" checked>Vipros 1</label>
            <label class="checkbox-inline">
                <input id="v2" type="checkbox" value="v2" checked>Vipros 2</label>
            <label class="checkbox-inline">
                <input id="v3" type="checkbox" value="v3" checked>Vipros 3</label>
            <label class="checkbox-inline">
                <input id="v5" type="checkbox" value="v5" checked>Vipros 5</label>
            <label class="checkbox-inline">
                <input id="l1" type="checkbox" value="l1" checked>Salvagnini Laser</label>
            <label class="checkbox-inline">
                <input id="p1" type="checkbox" value="p1" checked>Pulsar Laser</label>
            <br />
            <br />
            <label for="select_type">Chart Type:</label>
            <select class="form-control" id="select_chart_type">
                <option value="none">-----</option>
                <option value="Bar">Bar</option>
                <option value="Line">Line</option>
                <option value="Stacked">Stacked Line</option>
            </select>
            </div>
 			<form>
                <label for="begRange">Starting Date:</label>
				<input type="date" class="form-control" id="begRange">
				<label for="endRange">Ending Date:</label>
                <input type="date" class="form-control" id="endRange">
				<br />
				<a class="btn btn-lg btn-success" href="javascript:void()" id="genButton" role="button">Generate</a>
			</form>
        <div id="#chart">
            <figure id="chart">
        
            </figure>
        </div>
        </div>
        </div>
        <footer class="footer">
            <p>&copy; Hill Phoenix 2015</p>
        </footer>
    </div>
</body>
</html>